@model TallerClase.Models.Estadio

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Estadio</h1>

<h3 class="mb-4">¿Estás seguro de que deseas eliminar este estadio?</h3>

<div class="mb-3">
    <h4>Detalles del Estadio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
    </dl>
</div>

<form asp-action="Delete" class="mb-3">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a class="btn btn-primary ms-2" asp-action="Index">Volver a la lista</a>
    </div>
</form>
