@model IEnumerable<TallerClase.Models.Equipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Equipo</h1>

<p>
    <br>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <br>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Titulos)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.AceptaExtranjeros)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Estadio)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Ciudad)</td>
                <td>@Html.DisplayFor(modelItem => item.Titulos)</td>
                <td>@Html.DisplayFor(modelItem => item.AceptaExtranjeros)</td>
                <td>@Html.DisplayFor(modelItem => item.Estadio.Nombre)</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
